In [2]:
# see https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

import numpy as np
import pandas as pd

In [4]:
pwd

'/Users/rene/learn/udemy/tf2_bootcamp_portilla/04_pandas_crash_course'

In [6]:
ls

01_Pandas_Series.ipynb            07_data_input_output.py
01_pandas_series.py               3_Pandas_Missing_Data.ipynb
02_Pandas_DataFrame.ipynb         4_GroupBy_Operations.ipnyb.ipynb
02_pands_dataframes_part_one.py   5_Pandas_Operations.ipnyb.ipynb
03_pands_dataframes_part_two.py   6_Data_Input_and_Output.ipynb
04_missing_data.py                Universities.csv*
05_groupby_operations.py          example.csv*
06_pandas_operations.py

In [7]:
df = pd.read_csv('example.csv')

In [8]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df.to_csv('output.csv', index=False)

In [14]:
ls

01_Pandas_Series.ipynb            07_data_input_output.py
01_pandas_series.py               3_Pandas_Missing_Data.ipynb
02_Pandas_DataFrame.ipynb         4_GroupBy_Operations.ipnyb.ipynb
02_pands_dataframes_part_one.py   5_Pandas_Operations.ipnyb.ipynb
03_pands_dataframes_part_two.py   6_Data_Input_and_Output.ipynb
04_missing_data.py                Universities.csv*
05_groupby_operations.py          example.csv*
06_pandas_operations.py           output.csv

In [15]:
pd.read_csv('output.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
df.to_csv('output.csv', index=True)

In [17]:
pd.read_csv('output.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15